.header {
    font-size: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 140px;
}

.btn {
    font-size: 30px;
    padding: 50px;
    
}